@{
    ViewData["Title"] = "All Organisations";
}

<h2>@ViewData["Title"]</h2>
<table id="organisationTable" class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Founded Date</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <!-- JavaScript vult deze tabel dynamisch -->
    </tbody>
</table>

<button id="refreshButton" class="btn btn-primary">Refresh Organisations</button>

@section Scripts {
    <script src="~/js/organisation/Add.js"></script>
}
