@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<ul class="navbar-nav">
    
    @if (SignInManager.IsSignedIn(User))
    {
        <span>Welcome,@UserManager.GetUserName(User)</span>
        <form asp-controller="Account" asp-action="Logout" method="post" style="display:inline;">
            <button type="submit" class="btn btn-link">Logout</button>
        </form>
    }
    else
    {
        <a asp-controller="Account" asp-action="Login" class="btn btn-link">Login</a>
        <a asp-controller="Account" asp-action="Register" class="btn btn-link">Register</a>
    }
</ul>  